<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdu.mapper.BlogTagMapper">
    
    <resultMap id="BaseResultMap" type="com.stdu.entity.BlogTag">
        <id column="id" property="id" />
        <result column="blog_id" property="blogId" />
        <result column="tag_id" property="tagId" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, blog_id, tag_id
    </sql>
    
    <select id="findByBlogId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM blog_tags
        WHERE blog_id = #{blogId}
    </select>
    
    <select id="findByTagId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM blog_tags
        WHERE tag_id = #{tagId}
    </select>
    
    <insert id="insert" parameterType="com.stdu.entity.BlogTag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_tags (blog_id, tag_id)
        VALUES (#{blogId}, #{tagId})
    </insert>
    
    <insert id="batchInsert">
        INSERT INTO blog_tags (blog_id, tag_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.blogId}, #{item.tagId})
        </foreach>
    </insert>
    
    <delete id="deleteByBlogId">
        DELETE FROM blog_tags WHERE blog_id = #{blogId}
    </delete>
</mapper> 